#root {
    max-width: 100vw !important;
    margin: 0px 0px !important;
    padding: 0px 0px !important; 
    box-sizing: border-box !important;
} 

body {
    overflow-x: hidden;
}

aside {
    margin: 0;
}