.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 18px;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-burger-bars-hover {
    background: red;
}

.bm-cross-button {
    margin-right: 55px;
    margin-top: 15px;
    z-index: 3;
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}